extends layout

block content
  div
  div.block-quem-e
    h1.titulo-principal= title
    img.img-rosto(src="/images/rosto.jpg")      
    div.div-txt-who-im
      p.txt-description #{description}
  
  div.div-galeria-imgs
    div.container-galeria-imagens
      h2.titulo-galeria-imgs= tituloGaleria
      div.swiper-container
        div.swiper-wrapper
          div.swiper-slide
            img.img-galeria(src="/images/galeriaImagens1.jpg")
            img.img-galeria(src="/images/galeriaImagens2.jpg")
            img.img-galeria(src="/images/galeriaImagens3.jpg")
            img.img-galeria(src="/images/galeriaImagens4.jpg")
          div.swiper-slide
            img.img-galeria(src="/images/galeriaImagens5.jpg")
            img.img-galeria(src="/images/galeriaImagens6.jpg")
            img.img-galeria(src="/images/galeriaImagens7.jpg")
            img.img-galeria(src="/images/galeriaImagens8.jpg")
          div.swiper-slide
            img.img-galeria(src="/images/galeriaImagens9.jpg")
            img.img-galeria(src="/images/galeriaImagens10.jpg")
            img.img-galeria(src="/images/galeriaImagens11.jpg")
            img.img-galeria(src="/images/galeriaImagens12.jpg")
        div.swiper-pagination
          span.swiper-pagination-bullet swiper-pagination-bullet-active

  


  
